# Proyecto C19 Python

In [2]:
#Imports
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import norm
from scipy import stats
import os
import glob

In [24]:
#Define dataset de examenes PCR por region/fecha
pcrStd = pd.read_csv(os.getcwd() + "/dataSets/producto7/PCR_std.csv", index_col=None, header=0)

                  Region  Codigo region  Poblacion       fecha  numero
0     Arica y Parinacota             15     252110  2020-04-09    70.0
1               Tarapacá              1     382773  2020-04-09     NaN
2            Antofagasta              2     691854  2020-04-09   182.0
3                Atacama              3     314709  2020-04-09    57.0
4               Coquimbo              4     836096  2020-04-09     NaN
...                  ...            ...        ...         ...     ...
7803           Araucanía              9    1014343  2021-08-09  2287.0
7804            Los Ríos             14     405835  2021-08-09  1087.0
7805           Los Lagos             10     891440  2021-08-09  3743.0
7806               Aysén             11     107297  2021-08-09   325.0
7807          Magallanes             12     178362  2021-08-09   932.0

[7808 rows x 5 columns]

In [20]:
#Define dataframes product2/4 en un mapa, y cada key es una fecha de un archivo encontrado
def loadDataFrameToMap(folder, indexKey) :
        
    files = [os.path.basename(x) for x in glob.glob(folder)]
    
    mapDataFramesByDate = {}

    for fileName in files:
        keyMap = int((fileName[0: -indexKey]).replace("-", ''))
        mapDataFramesByDate[keyMap] = pd.read_csv(folder[0: -5] + fileName, index_col=None, header=0)
    
    return mapDataFramesByDate

In [22]:
pathProduct2 = os.getcwd() + "/dataSets/producto2/*.csv";
product2MapDF = loadDataFrameToMap(pathProduct2, 21)
#product2MapDF[20210201]

pathProduct4 = os.getcwd() + "/dataSets/producto4/*.csv";
product4MapDF = loadDataFrameToMap(pathProduct4, 35)
#product4MapDF[20210607]

,Region,Casos totales acumulados,Casos activos confirmados,Fallecidos totales,Casos confirmados recuperados,Casos confirmados por antigeno,Casos con sospecha de reinfeccion,Casos probables acumulados,Casos activos probables,Casos nuevos totales,Casos nuevos con sintomas,Casos nuevos sin sintomas*,Casos nuevos reportados por laboratorio,Casos nuevos confirmados por antigeno
0,Arica y Parinacota,23404,696,455,22233,697,26,2773,132,107,43,61,3,12
1,Tarapacá,37384,537,685,36143,286,38,8517,267,76,54,20,2,0
2,Antofagasta,54523,1186,1061,52225,523,33,5383,173,141,92,42,7,1
3,Atacama,22194,862,246,21095,359,17,1144,103,34,22,11,1,12
4,Coquimbo,39766,1747,726,37275,217,22,6603,309,278,200,57,21,6
5,Valparaíso,102941,3839,2669,96365,1129,50,39881,1241,554,374,102,78,17
6,Metropolitana,600466,22269,15798,561778,22734,635,121551,6849,3390,2151,785,454,387
7,O’Higgins,59803,2576,1208,56002,1192,41,12134,557,274,171,92,11,18
8,Maule,87896,3128,1406,83315,5826,54,8414,613,411,274,135,2,61
9,Ñuble,31444,1163,524,29745,524,33,8748,244,175,129,42,4,6
10,Biobío,134267,3688,2153,128368,1849,88,29128,1113,509,362,137,10,29
11,Araucanía,85684,2389,1113,82137,3734,54,10171,495,418,261,119,38,56
12,Los Ríos,40687,1529,466,38688,1273,22,4466,223,228,118,103,7,18
13,Los Lagos,79749,2116,1086,76524,723,49,13530,552,286,174,96,16,2
14,Aysén,6501,578,43,5883,206,1,1353,93,52,21,31,0,2
15,Magallanes,28122,293,419,27395,200,20,3053,85,25,13,9,3,1
16,Se desconoce región de origen,53,0,0,53,0,0,1,0,0,0,0,0,0
17,Total,1434884,48596,30058,1355224,41472,1183,276850,13049,6958,4459,1842,657,628

In [17]:
def obtainDataFrames(mapDataFrames, fromDate, toDate, exclusiveFrom, exclusiveTo) :
    
    if (exclusiveFrom) :
        fromDate = fromDate + 1
        
    if (exclusiveTo) :
        toDate = toDate - 1
    
    #print(fromDate, toDate)
    
    mapBetween = {}
    for mapKey in mapDataFrames.keys() :
        if(mapKey > fromDate and mapKey < toDate) :
            mapBetween[mapKey] = mapDataFrames[mapKey]
        
    return mapBetween

#ToDo: verificar!!1 

#obtainDataFrames(product4MapDF[20210501], 20210101, 20210110, False, False)
#obtainDataFrames(product4MapDF, 20210101, 20210110, True, True)